.vscode/**
.vscode-test/**
out/**
**/node_modules/**
**/src/**
**/.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
doc_resources/**
**/package.json
**/tsconfig.app.json
**/tsconfig.node.json
**/yarn.lock
**/.idea/**
widget-preview/index.html